<label> Instructor's Name </label>
<h3> <%= @instructor.name %> </h3>

<label> Instructor's Students </label>
<ul>
    <% @instructor.students.sort_by{|student| student.name }.each do |student| %>
    <li>
        <%= link_to student.name, student_path(student) %>

    </li>
    <% end %>
</ul>

<label> Student average age </label>

<% arr = @instructor.students.map {|student| student.age} %>
<%= arr.sum / arr.size %>